
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");


*{
    margin: 0;
    font-family: "Poppins", sans-serif;
    /* overflow: hidden; */
  }
  .menubar {
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-evenly;
    width: 100%;
  }
  .logo {
    width: 20%;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .logo p a {
    font-weight: 700;
    margin: 0;
    font-size: 45px;
    text-decoration: none;
    color: #f6510f;
  }
  nav {
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    /* right: -5%; */
  }
  nav ul {
    list-style: none;
  }
  nav ul li {
    float: left;
    padding: 10px;
  }
  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
  }
  nav ul li a:hover {
    color: #f6510f;
  }
  nav ul li a:active {
    color: white;
    text-decoration: underline;
  }
  @media only screen and (max-width:700px) {
    .imgtxt{
        position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20pt;
  font-weight: bolder;
  text-shadow: 10px 10px 10px black;
  color: #f6510f;
  text-align: center;
  }
}
/* --start of footer container-- */
